body{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#game{
    position: relative;
    width: 100%;
    height: 100%;
}